.jumbotron {
  padding-top: 6rem;
  background-color: #d5e4f7;
}
#experience {
  background-color: #d5e4f7;
}
section {
  padding-top: 5rem;
}
#contact {
  padding-bottom: 5rem;
  background-color: #d5e4f7;
}
